.DS_*
/.idea
/dist
/build
/release
/.go
_examples/
server/*/bin/

/ansible
Makefile
cmd/helper
cmd/nutshell
/handoff
/shell
/docker*
/scripts
/nutshell
/toybox
/ssh2incus
/PRESS_*.md

*.bak
.envrc
makefile
**/terminfo/**
/*.yaml
/*.txt
