defaults:
    # image for new instance
    image: alpine/edge
    # create ephemeral instance
    ephemeral: false
    # size in GiB, 0 for unlimited
    memory: 1
    # number of CPUs, 0 for unlimited
    cpu: 1
    # root disk size in GiB, 0 for unlimited
    disk: 10
    # create VM instance
    vm: false

    # instance devices
    devices: {}

    # instance configs
    config:
        security.privileged: false
        # The next 3 flags are used to allow running Docker containers
        security.nesting: false
        security.syscalls.intercept.mknod: false
        security.syscalls.intercept.setxattr: false

profiles:
    incus-nested:
        image: ubuntu/noble/cloud
        memory: 0
        cpu: 0
        disk: 0
        config:
            security.privileged: true
            security.nesting: true
            cloud-init.user-data: <@cloud-init/incus-nested.yaml

    ubuntu-docker:
        image: ubuntu/noble/cloud
        memory: 0
        cpu: 0
        disk: 0
        config:
            security.privileged: true
            security.nesting: true
            security.syscalls.intercept.mknod: true
            security.syscalls.intercept.setxattr: true
            cloud-init.user-data: <@cloud-init/ubuntu-docker.yaml

    # ubuntu-dev-example:
    #     image: ubuntu/24.04/cloud
    #     memory: 4
    #     cpu: 2
    #     disk: 30
    #     config:
    #         security.nesting: true
    #         cloud-init.user-data: <@cloud-init/ubuntu-dev-init.example.yaml

    # web-server-example:
    #     image: ubuntu/24.04/cloud
    #     memory: 2
    #     cpu: 2
    #     disk: 20
    #     config:
    #         cloud-init.user-data: <@cloud-init/web-server-init.example.yaml
